<footer class="contact" id="contact">
    <h2 class="contact__title" [@scrollAnimation]='state'>Contact</h2>
    <a href="mailto:amrelza3frany@gmail.com" [@scrollAnimation]="state">
        <button class="btn-secondary btn--degrade">contact</button>
    </a>
    <ul class="list" [@scrollAnimation]="state">
        <li class="list__item ">
          <a href="https://github.com/AmrElzaafrany"><i class="fab fa-github fa-3x "></i></a>
        </li>
        <li class="list__item">
          <a href="https://www.linkedin.com/in/amr-elzafarani/"><i class="fab fa-linkedin fa-3x"></i></a>
        </li>
      </ul>
      &copy; Copyright @Amr Elzafarani
</footer>